.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.features h1 {
    font-size: 48px;
    color: var(--PrimaryColor);
    margin-bottom: 40px;
}

.features-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    height: auto;
    max-width: 950px;
    gap: 20px;
}

.feature-box1 {
    grid-row: span 2;
    border-radius: 28px;
}

.feature-box2 {
    grid-column: span 2;
}

.feature {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    border-radius: 28px;
    transition: transform 0.3s ease-in-out ;
}

.feature:hover {
    transform: scale(1.03);
}

hr {
    background-color: var(--BorderColor);
    margin: 40px 0px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .features-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        max-width: 500px;
    }

    .feature-box1 {
        grid-row: span 2;
        grid-column: span 2;
    }

    .feature-box3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .feature-box4 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (max-width: 768px) {
    .features-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .features-container {
        width: 300px;
        height: auto;
    }

    .feature {
        width: 100%;
        height: auto;
    }
}
